/*
* elem szintű k.
*/
html{
	background-color: #f5f5f5;
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}
#grid1{
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 100%;
	display: grid;
	grid-template-columns: 23% 1fr; 
	grid-template-rows: 1500px;	
}
#grid2{
	grid-column: 1;
	grid-row: 1;
	
	background-color: #708090;
	padding: 10px;
	
	display: grid;
	grid-template:
	"a" 15vw
	"b" auto
	/ 1fr;
}
#grid3{
	grid-column: 2;
	grid-row: 1;
	grid-gap: 20px;

	padding: 0 20px;

	display: grid;	
	grid-template: 
	"grid3_1" 100px
	"grid3_2" auto
	"grid3_3" 300px
	"grid3_4" 100px
	/1fr;
}
#grid3_1{
	grid-area: grid3_1;
}
#grid3_2{
	grid-area: grid3_2;
	background-image: url('photo-1466495227171-d05d7e3ac2b3.webp');
	background-size: 100% 100%;
	box-shadow: 0px 10px 20px black;
}
#grid3_3{
	grid-area: grid3_3;
	display: grid;
	grid-gap: 30px;
	height: 200px;
	grid-template: "grid3_3_1 grid3_3_2 grid3_3_3" auto
	/1fr 1fr 1fr;
}
#grid3_3_1{
	grid-area: grid3_3_1;
	background-image: url("photo-1511344260318-387b23a30503.webp");
	background-size: 100% 100%;
	box-shadow: 0px 10px 20px black;
}
#grid3_3_2{
	grid-area: grid3_3_2;
	background-image: url("photo-1459539235056-5045ca20e525.webp");
	background-size: 100% 100%;
	box-shadow: 0px 10px 20px black;
}
#grid3_3_3{
	grid-area: grid3_3_3;
	background-image: url("photo-1504703500545-4c4ee081b155.webp");
	background-size: 100% 100%;
	box-shadow: 0px 10px 20px black;
}

#grid3_4{
	grid-area: grid3_4;
}
#grid2_1{
	grid-area: a;
	background-image: url('photo-1487750022055-974f66325e0f.webp');
	background-size: 100% 100%;
}
#grid2_2{
	grid-area: b;
	padding: 10px;
	color: white;
}
